body {
  color: #2D3748;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  color: hsl(240, 5%, 20%);
  height: 100vh;
  transition: background-color 300ms ease;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

